/*hlavvička*/

h1
{
    font-size: 80px;
    font-family: "Montserrat", sans-serif ;
    color: #FAF0E6;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 18% 18% 18% 3%;

}
 
.hlavicka {
    
    background-image: url(obrázky/hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*menu*/

.menu{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #CDA59C;
}

ul{
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    font-family: "Montserrat",sans-serif ;
    font-size: 20px;
    color: #756158;
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    font-weight: bold;
}


/*obecné*/

body {
    color: #282425;
    background-color: #FAF0E6 ;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    line-height: 2;
    margin: 0;
}

.kontakt,
.vzdelani,
.zajmy-dovednosti,
.zkusenosti,
.nabidnout{
padding: 35px 15%;
}

a,
h1,
h2,
h4{
    text-transform: uppercase;

}


/*nadpisy*/


h2{
    font-family: "Montserrat", sans-serif ;
    font-weight: normal;
    color: #756158;
    
}

h3,
h4{
    font-family: 'Open sans', sans-serif ;
}

h4{
    font-weight: normal;
}



/*kontakt*/

.odkaz,
.email{
    font-family: 'Open sans', sans-serif  ;
    color:  #756158;
    text-decoration: none

}

.odkaz:hover,
.email:hover{
    font-weight: bold;

}

.jmeno{
    font-weight: bold;
}


.material-symbols-outlined{
    color: #756158;
    padding: 20px 8px;

}

.foto-sbarou{
    width: 40%;
    float: right;
    border-radius: 50px 50px 50px 0px;
    margin: 0 30px 30px 0;
    padding: 20px;
}

/*vzdělání*/

.vzdelani,
.nabidnout {
background-color: #CDA59C ;

}

/*zájmy a dovednosti*/

table{
    border-spacing: 0px;
    width: 100%;
}

th,
td {
    text-align: left;
    width: 50%;

}


/*patička*/

.paticka{
    padding: 50px 15%;
    text-align: center;
    font-family: "Montserrat", sans-serif  ;
}

